* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

* h1 {
    text-transform: uppercase;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
    scroll-behavior: smooth;
}

nav a:hover {
    /* opacity: 0.7; */
    color: #deb887;
    scroll-behavior: smooth;
}

.nav-list a:hover {
    /* text-transform:uppercase; */
    /* border-bottom: #ffffff 3px solid; */
    /* padding-bottom: 2.5vh; */
    transition: 100ms;
    color: burlywood;
    border-bottom: #ffffff 3px solid;
    padding-bottom: 2.5vh;
    scroll-behavior: smooth;
    /* color: #c879ec; */
}

.nav-list a:focus {
    color: burlywood;
    border-bottom: #ffffff 3px solid;
    padding-bottom: 2.5vh;
    scroll-behavior: smooth;
}

.logo {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 4px;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    height: 8vh;
    background: #333333;
    /* background: #c97575; */
}

main {
    background: #003366 no-repeat center center;
    background-size: cover;
    height: 100%;
}

.nav-list {
    list-style: none;
    display: flex;
    margin-bottom: 0rem;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

.carousel-item img {
    max-height: 90vh;
    object-fit: cover;
  }

.linha0 {
    width: 100%;
    height: 2px;
    background: #ffcb4d;
}

.linha {
    width: 100%;
    height: 2px;
    background: #ffcb4d;
}

.about-tittle {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.about-tittle h1 {
    font-size: 2rem;
    color: #DEB887;
}

.about-tittle p {
    font-size: 1.5rem;
    padding: 0 15px;
}

.about-info {
    display: flex;
    margin: 1rem;
    text-align: center;
}

.info {
    padding: 0 1rem 0 1rem;
    border-right: 2px solid #deb88700;
    border-left: 2px solid #deb88700;
    width: 50%;
}

.info h2 {
    font-size: 1.5rem;
    color: #DEB887;
}

.info2 {
    padding: 0 1rem 0 1rem;
    border-right: 2px solid #DEB887;
    border-left: 2px solid #DEB887;
    width: 50%;
}

.info2 h2 {
    font-size: 1.5rem;
    color: #DEB887;
}

.projects-tittle {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #DEB887;
    scroll-margin-top: 2.5rem;
}

.projects-tittle h1 {
    font-size: 2rem;
    scroll-margin-top: 2.5rem;
}

.services-tittle {
    font-size: 1.3rem;
    text-align: center;
    margin-top: -2rem;
    margin-bottom: 2.5rem;
    color: #DEB887;
}

.projects-box {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    flex-flow: wrap;
}

.projects-box .card {
    width: 30%;
    height: 50%;
    margin: 5px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 1.25rem;
}

.card img {
    size: auto;
    width: 100%;
    height: 30rem;
    object-fit: cover;
    border-top-left-radius: calc(1.25rem - 1px);
    border-top-right-radius: calc(1.25rem - 1px);
}

.card .btn {
    margin-top: 1rem;
    border: 0px;
    color: #000;
    background-color: #deb887;
}

.card .btn-primary {
    color: #000;
    background-color: #deb887;
}

.card .btn:focus {
    color: #ffffff;
    background-color: #deb887;
    border: 0px;
}

.card .btn-primary:focus {
    color: #ffffff;
    background-color: #deb887;
    border: 0px;
}

.card .btn:focus-visible {
    color: #ffffff;
    background-color: #deb887;
    border: 0px;
}

.card .btn-primary:hover {
    color: #ffffff;
    background-color: #deb887;
    border: 0px;
}

.form-tittle {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #DEB887;
}

.form-box {
    display: flex;
    justify-content: center;
}

form {
    max-width: 520px;
    text-align: center;
}

form input {
    width: 520px;
    background: transparent;
    border: 1px solid #DEB887;
    padding: 10px;
    color: #fff;
}

form textarea {
    width: 520px;
    height: 200px;
    max-height: 300px;
    min-height: 200px;
    background: transparent;
    border: 1px solid #DEB887;
    padding: 10px;
    color: #fff;
}

form button {
    width: 520px;
    background-color: #DEB887;
    margin-bottom: 2rem;
    height: 50px;
}

form button:visited {
    background-color: #DEB887;
}

form button:hover {
    background-color: transparent;
    color: #fff;
}

.text-name {
    margin-bottom: 15px;
}

form label {
    display: block;
    background: transparent;
}

.form-area {
    background-color: #333333;
}

footer {
    background-color: #333333;
}

.footer-tittle {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #DEB887;
}

.footer-tittle h1 {
    font-size: 2rem;
}

.footer-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 70%;
    font-size: 12px;
}

.copyright p {
    color: #DEB887;
}

.footer-box {
    width: 40%;
    height: 250px;
    text-align: left;
    text-transform: uppercase;
    margin: 5px;
}

.footer-box a {
    text-align: center;
    margin-bottom: 1rem;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #DEB887;
    color: #000;
}

.footer-box a:visited {
    background-color: #DEB887;
    border: none;
}

.footer-box a:hover {
    border: none;
    background-color: #DEB887;
    color: #fff;
}

a img {
    width: 1.5rem;
    height: auto;
    /* margin-right: .7rem; */
    position: relative;
    margin-bottom: 2px;
    text-align: center;
}

footer a img {
    margin-right: 0.7rem;
}



.btn-top {
    display: none;
}

.card-body h5 {
    font-size: 1rem;
}

.projects-box .mb-3 {
    width: 71%;
}

.services-box {
    display: none;
    flex-direction: column;
    text-align: center;
    margin-bottom: 1.5rem;
}

.services-box p {
    font-size: 1.5rem;
    margin: -1px 0 0 5px;
}

.services-box-p {
    margin-top: -1rem;
}

@media (max-width: 780px) {

    body{
        overflow-x: hidden;
    }

    :target {
        scroll-margin-top: 2.5rem;
      }

    header {
        position: fixed;
        width: 100%;
        z-index: 6;
        top: 0;
        left: 0;
    }

    footer a img {
        margin-right: 0.5rem;
        float: left;
    }

    .footer-box {
        width: auto;
    }

    .services-box {
        display: flex;
        align-items: center;
        background: antiquewhite;
        margin: 0 2rem 1rem 2rem;
        border-radius: 5px;
        height: 5rem;
    }

    #projects-id {
        display: none;
    }

    .projects-id2 {
        scroll-margin-top: 5rem;
    }

    .p-center {
        text-align: center;
    }

    .services-box p {
        font-size: 1rem;
        text-align: left;
    }

    .footer-tittle h1{
        font-size: 1.3rem;
    }

    .footer-tittle {
        margin-bottom: 1rem;
    }

    .copyright {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 70%;
        font-size: 12px;
    }

    .btn-top {
        margin: 5px;
        margin-top: 1rem;
        margin-bottom: -5px;
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        padding: 0.5;
    }
    
    .btn-top a{
            width: 100%;
            border: none;
            background-color: #DEB887;
            color: #000;
            padding: 0.5rem;
            border-radius: 5px;
    }

    .btn-top a img {
        margin-top: -1px;
        margin-right: 0.5rem;
        float: left;
    }
    
    .btn-top a {
        width: 100%;
        border: none;
        background-color: #DEB887;
        color: #000;
    }
    
    .btn-top a:visited {
        background-color: #DEB887;
        border: none;
    }
    
    .btn-top a:hover {
        border: none;
        background-color: #DEB887;
        color: #fff;
    }

    .projects-tittle h1{
        font-size: 1.3rem;
    }

    .projects-tittle {
        margin-bottom: 1rem;
        margin-left: 5px;
        margin-right: 5px;
        scroll-margin-top: 6rem;
    }

    .projects-box {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
    }

    .projects-box .card {
        margin: 5px;
        width: 95%;
        border-radius: 1.25rem;
    }

    .card img {
        size: auto;
        width: 100%;
        height: 100%;
        border-top-left-radius: calc(1.25rem - 1px);
        border-top-right-radius: calc(1.25rem - 1px);
        object-fit: cover;
    }

    .card-img-top {
        size: auto;
        width: 100%;
        object-fit: cover;
    }

    .linha0 {
        margin-top: 8vh;
        width: 100%;
        height: 2px;
    }

    .mobile-menu .line2 {
        background-color: #ffcb4d;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 100vh;
        padding-left: 0;
        padding-right: 0px;
        padding-top: 0rem;
        padding-bottom: 5rem;
        align-items: center;
        background: #333333;
        flex-direction: column;
        justify-content: space-evenly;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 3;
    }
    
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }

    .about-info {
        display: flex;
        flex-direction: column;
        margin: 1rem;
        text-align: center;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0;
    }

    .about-info h2 {
        font-size: 1.7rem;
    }

    .about-info p {
        font-size: 1rem;
        margin-bottom: -1.5rem;
        text-align: justify;
    }

    .about-tittle {
        margin-bottom: 1rem;
    }

    .about-tittle h1 {
        font-size: 1.3rem;
        margin-bottom: -1rem;
    }

    .about-tittle p {
        padding: 1rem;
        font-size: 1rem;
        display: none;
    }

    .about-box {
        margin-bottom: 4rem;
    }

    .info {
        width: 100%;
        padding: 1rem;
    }

    .info2 {
        padding: 1rem;
        border: none;
        width: 100%;
    }

    .info h2 {
        display: none;
    }

    .info2 h2 {
        display: none;
    }

    form {
        max-width: 100vw;
    }

    form input {
        width: 92vw;
    }
    
    form textarea {
        width: 92vw;
    }

    form button {
        width: 92vw;
    }
    
}
    .nav-list.active {
        transform: translateX(0);
    }


@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
    background: #ffcb4d;
}
.mobile-menu.active .line2 {
    opacity: 0;
}
.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
    background: #ffcb4d;
}



.portfolio-tittle {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #DEB887;
    text-transform: uppercase;
}

.portfolio-tittle h1 {
    font-size: 1.5rem;
}

.portfolio-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    object-fit: cover;
}

.portfolio-box .img-fluid {
    max-width: 60%;
    height: 60vh;
    border: 1px solid #DEB887;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
    margin: 0.5rem 0.5rem;
}

.portfolio-box .img-fluid:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    z-index: 4;
}

.card2 {
    width: 75%;
}


@media (max-width: 780px) {

    .portfolio-box {
        display: flex;
        flex-direction: column;
    }
    .portfolio-box .img-fluid {
        width: 100%;
        max-width: 100%;
        height: auto;
        padding: 0px;
        margin: 0;
        margin-bottom: 5px;
    }
    .portfolio-tittle h1 {
        font-size: 1rem;
    }
}


.btn-topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #deb88785;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  
  .arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
  }

  .btn-topo:hover {
    background-color: #DEB887;
  }
  
  /* .arrow:before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #333;
  } */
  